:root,
html,
body {
  background-color: #0c1212;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color-scheme: dark;
}

@font-face {
  font-family: DSI;
  src: url(assets/Nintendo-DS-BIOS.ttf);
  font-kerning: none;
  font-smooth: never;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
}

* {
  font-family: "MS UI Gothic", DSI;
  font-smooth: never;
  -webkit-font-smoothing: none;
  text-rendering: optimizeSpeed;
}

h1 {
    font-family: DSI;
    font-weight: normal;
}
#title {
    font-size: 64px;
}

#bar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}