body,
html {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-image: url("assets/bg-pattern.webp");
  background-repeat: repeat-y;
  background-position: center;
  background-color: rgba(182, 216, 218, 0.25);
  background-blend-mode: color;
}



:root {
  --var-name-color: #8EB6BA;
  --var-button-color: #F9DD63;
  --var-button-outline: #EABA5D;
  --var-bg-color: #B6D8DA;

  background-color: var(--var-bg-color);
}

* {
  font-family: 'Lexend', sans-serif;
  scrollbar-color: var(--var-button-color) var(--var-button-outline);
  color-scheme: light;
}

::webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

#navbar {
  display: flex;
  height: 64px;
  background-image: url("assets/bg-pattern.webp");
  background-position: center;
  flex-direction: row;
  background-size: cover;
  justify-content: left;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.135);
}

#navbar_profile_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 37.5%;
}

#navbar_name {
  text-align: center;
  vertical-align: text-top;
  width: 236px;
  color: var(--var-name-color)
}

#navbar_pfp {
  height: 100%;
}


button {
  background-color: var(--var-button-color);
  outline-color: var(--var-button-outline);
  border-style: hidden;
  outline-style: solid;
  border-radius: 9px;
  outline-width: 3px;
  font-size: 14px;
  height: 24px;
  width: 90px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.135);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.135);
  -moz-box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.135);
  margin-left: 2vw;
  margin-right: 2vw;

  cursor: pointer;
  transition: all 0.1s linear;
  text-wrap: unset;
  text-decoration: none;
  color: black;
}

button:hover {
  width: 100px;
  filter: invert() brightness(1.5) saturate(2);
}

button:active {

  width: 100px;
  filter: invert() brightness(1.5) saturate(2) sepia(2);
  transform: translateY(3px);
}

#navbar_buttons {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#page {
  flex-grow: 1;
  height: fit-content;
}

#footer {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  height: max-content;
  background-size: cover;
  background-image: url("assets/bg-pattern.webp");

  background-position: center;
  background-color: rgba(182, 216, 218, 0.5);
  background-blend-mode: darken;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.135);
}

#footer_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 75%;
}

#footer_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
  flex-grow: 1;
}

#footer_bottom_left {
  padding-left: 16px;

  font-weight: 200;
  text-align: left;

  color: var(--var-name-color)
}


#footer_bottom_right {
  padding-right: 16px;
  font-weight: 200;

  text-align: right;

  color: var(--var-name-color)
}

/* Main Page */

#mainpage {
  height: 100vh;
}

#about-bubble {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  width: 75vw;
  max-height: 25vw;
  margin-top: 16px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.135);
}

#lga-rr {
  position: relative;
  max-height: 25vw;
}

@media (max-width: 650px) {
  #navbar {
    flex-direction: column;
    height: 128px;
  }

  #navbar_name {
    width: 100%;
  }

  #navbar_profile_container {
    width: 100%;
    flex-direction: column;
  }

  #navbar_pfp {
    height: 64px;
    display: none;
  }

  #footer_bottom {
    flex-direction: column;
    height: max-content;
  }
}